<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="save"> {%csrf_token%}

    <textarea name="Title_tabel" placeholder="Title"></textarea>
    <textarea name="discription_tabel" placeholder="discription"></textarea>

      <button type="submit">
          CLICK TO SAVE
          </button>

</form>


<form method="POST" action="/">{%csrf_token%}
    <button type="submit">back to home</button>

</form>








</body>
</html>